@charset "utf-8";

:root{
    /* 色 */
    --color-main:#F5EFFF;
    --color-sub01:#E5D9F2;
    --color-sub02:#CDC1FF;
    --color-sub03:#A294F9;

    /* スペース */
    --space-l:4rem;
    --space-m:2rem;
    --space-s:1rem;
    --space-s-harf:0.5rem;

    /* フォント */
    --font-main:"Dela Gothic One";
    --font-sub01:"Zen Old Mincho";
}

html, body, main, img{
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

canvas{
    width: 100%;
    display: block;
}

/* ナビゲーション 
============================*/
header{
    position: fixed;
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 2.5rem;
    height: 6rem;
    z-index: 10;
    right: 50%;
    transform: translateX(50%);
    border-radius: 0 0 30px 30px;
    overflow: hidden;
}

header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: .2;
    filter: blur(var(--space-s));
    z-index: -1;
}

/* ロゴ */
.logo{
    display: flex;
    justify-items: center;
    width: 400px;
}

/* ナビゲーションバー*/
.gnav{
    opacity: 1;
    display: flex;
    gap: var(--space-m);
}

.gnav__list{
    height: 100%;
    display: flex;
    gap: 30px;
}

.gnav__item{
    display: flex;
    align-items: center;
    height: 100%;
}

/* メインビジュアル
============================*/
.mainvisual{
    position: relative;
    height: 100vh;
    min-height: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.mainvisual__image{
    position: absolute;
    width: 100%;
    height: 120%;
    z-index: -999;
    top: -15%;
}

.mainvisual__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* 絶対配置の時はほぼいる! */
    filter: 
    brightness(0.7)
}


.mainvisual__title{
    font-size: 3rem;
}

.mainvisual__title img{
    width: 100%;
}

/* マップセレクターコンテンツ
============================*/
.map-selector{
    position: relative;
    height: 100vh;
    min-width: 800px;
    bottom: -1.5rem;
    z-index: 2;
    background: var(--color-sub02);
    border-radius: 1rem;
}

/* モデルビューコンテンツ
============================*/
.model-viewer{
    display: flex;
    position: relative;
    padding: 2rem;
    margin: auto;
    justify-content: center;
    width: 100%;
    height: 100vh;
    min-height: 1000px;
    gap: 2rem;
    background: var(--color-main);
    background-size: cover;
    z-index: 3;
    border-radius: 1rem;
}

/* モデルセレクター */
.model-viewer__selector{
    border-radius: 3rem;
    height: 100%;
    width: 40%;
    min-width: 600px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-sub01);
    overflow: hidden;
    border: 4px solid var(--color-sub03);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}

.model-viewer__header{
    font-size: 2.8rem;
    margin-top: 1rem;
    text-align: center;
    font-weight: 100;
}

.model-viewer__list {
    /* ベースの設定 */
    display: flex;           
    flex-direction: column;  
    margin: 1rem;
    padding: 1rem;
    gap: 1rem;
    background-color: var(--color-main);
    border: 4px solid var(--color-sub03);
    border-radius: 2rem;
    height: 100%;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.model-viewer__item {
    /* 既存の設定 */
    background-color: var(--color-sub03);
    color: var(--color-sub01);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    font-size: 2rem;
    font-weight: 200;
    padding: 1rem 0;
    transition: all 0.3s ease;
    font-size: 48px;
    flex: 0 0 calc((100% - 4rem) / 4);
    transition: all 0.3s ease;
}

.model-viewer__item:hover{
    background-color: var(--color-sub02);
    color: var(--color-sub03);
    transform: translateY(-5px);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
}

/* モデル説明 */
.model-viewer__about-model {
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* overflow: hidden; */
}

.model-viewer__display-wrapper{
    width: 100%;
    aspect-ratio: 1;
    flex: 1;
    min-height: 400px;
    position: relative;
    background-color: var(--color-sub03);
    padding: var(--space-m);
    border-radius: var(--space-m);
    border: 4px solid var(--color-sub01);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}

/* モデル表示エリア */
.model-viewer__display {
    position: relative;
    height: 100%;
    background-color: var(--color-main);
    border-radius: var(--space-s);
    border:solid 3px var(--color-sub02);
    overflow: hidden;
}

.model-viewer__animation-controls {
    position: absolute;
    right: 40px;
    bottom: 40px;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.model-viewer__animation-selector {
    background-color: var(--color-sub03);
    border-radius: 99px;
    padding: 0.5rem;
}

.model-viewer__animation-buttons {
    display: flex;
    gap: var(--space-s-harf);
}

/* アニメーションボタンのスタイル */
.model-viewer__animation-button {
    padding: 0.5rem 1rem;
    border-radius: 99px;
    background-color: var(--color-main);
    color: var(--color-sub03);
    font-size: 0.9rem;
    transition: all 0.3s ease;
    white-space: nowrap;
    border: 3px solid var(--color-sub01);
    font-family: var(--font-main);
}

.model-viewer__animation-button.active {
    background-color: var(--color-sub02);
    color: var(--color-main);
}

/* ホバー効果の追加 */
.model-viewer__animation-button:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.15);
}

.model-viewer__display::after {
    content: var(--model-title);
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    z-index: 4;
    font-size: 4rem;
    font-weight: 200;
    color: #ff0000;
    background-color: #d3d2d2;
    mix-blend-mode: difference;
    letter-spacing: 1px;
    width: 70%;
    border-radius: 2.5rem;
    text-align: center;
}

/* 説明エリア */
.model-viewer__discription {
    padding: 1rem;
    background-color: #F5EFFF;
    border-radius: var(--space-m);
    border: 4px solid var(--color-sub03);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);

}

.model-viewer__title {
    width: 100%;
}

.model-viewr::after{
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: fit-content;
    content: '';
    position: absolute;
    z-index: 1;
    background: url(../img/bg_.svg) no-repeat;
}

.model-viewer__model-discription{
    font-size: var(--space-m);
    text-align: center;
    margin-bottom: var(--space-s);
}

/* ボタン */

.model-viewer__buttons{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.model-viewer__button{
    display: block;
    width: 100%;
    font-size: calc(var(--space-m)/1.3);
    font-family: var(--font-main);
    font-weight: 200;
    border-radius: var(--space-m);
    color: var(--color-main);
    background-color: var(--color-sub02);
    padding: var(--space-m);
    border: 4px solid var(--color-sub03);
}

/* ダウンロードボタン特有のスタイル */
.model-viewer__button.download_button {
    background-color: var(--color-sub03);
    color: #fff;
}

/* 詳細ボタン特有のスタイル */
.model-viewer__button.detail_button {
    background-color: var(--color-main);
    color: #222;
}